/Android Open Source Project/
/asuite/
/baidunetdisk/
/completion_bash/
/bin/
/chezmoi/
/clash/
/clash-verge/
/clash_win/
/coc
/Code/
/configstore/
/dconf/
/enchant/
/evolution/
/fcitx/
/flameshot/
/ftplugin/
/gedit/
/git/git-completion.bash
/github-copilot/versions.json
/gnome-initial-setup-done
/Google/
/google-chrome/
/.gsd-keyboard.settings-ported
/gtk-3.0/
/ibus/
/JetBrains/
/koodo-reader/
/ksnip/
/lazygit/state.yml
/lib/
/libexec/
/LICENSE.TXT
/menus/
/microsoft-edge/
/mimeapps.list
/monitors.xml
/nvim/lazy-lock.json
/nvim/.neoconf.json
/nvim/package-lock.json
/nvim/tmp/
/obsidian/
/plasma-workspace/
/plugins/
/pulse
/qimgv/
/QQ/
/Qt/
/QtProject/
/ripgrep-all/
/share/
/sogoupinyin/
/TabNine
/textualize/
/totem/
/Ultisnips/
/update-notifier/
/user-dirs.dirs
/vlc/
/yazi/package.toml
/yazi/plugins/
/zed/.tmp*
/zellij/plugins/
