/asuite/
/bin/
/libexec/
/share/
/LICENSE.TXT
/lib/
/pulse
/nvim/lazy-lock.json
/nvim/package-lock.json
/nvim/.neoconf.json
/nvim/tmp/
/configstore/
/coc
/lazygit/state.yml
/github-copilot/versions.json
/zellij/plugins/
/TabNine
/ripgrep-all/
/Android Open Source Project/
/Code/
/Google/
/JetBrains/
/QQ/
/Qt/
/QtProject/
/Ultisnips/
/baidunetdisk/
/clash-verge/
/clash/
/clash_win/
/dconf/
/enchant/
/evolution/
/fcitx/
/flameshot/
/ftplugin/
/gedit/
/gnome-initial-setup-done
/google-chrome/
/gtk-3.0/
/ibus/
/koodo-reader/
/ksnip/
/menus/
/microsoft-edge/
/mimeapps.list
/monitors.xml
/obsidian/
/plasma-workspace/
/plugins/
/qimgv/
/sogoupinyin/
/textualize/
/totem/
/update-notifier/
/user-dirs.dirs
/vlc/
