layout {
    pane size=1 borderless=true {
		// plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            hide_frame_for_single_pane "false"

            format_left  "{mode}#[fg=#89B4FA,bg=#181825,bold] {tabs}"
            //format_right "#[bg=#8A8A8A,fg=#000000] #[bg=#8A8A8A,fg=#000000,bold]{swap_layout} #[bg=#000000,fg=#8A8A8A]"
            format_space "#[bg=#181825]"

            mode_normal          "#[bg=#181825,fg=#89B4FA] "
            mode_tmux            "#[bg=#181825,fg=#181825] "
            mode_default_to_mode "tmux"

            tab_normal               "#[fg=#6C7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[bg=#181825,fg=#89B4FA]● #[fg=#9399B2,bg=#181825,bold,italic]{name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "
        }
    }

    pane split_direction="vertical" {
        pane
    }
}
